In [1]:
my_list = [1,2,3]

In [13]:
my_list1 = ['SST,', 100, 23.2]

In [14]:
len (my_list1)

3

In [16]:
#concat lists
new_list = my_list + my_list1

In [17]:
new_list

[1, 2, 3, 'SST,', 100, 23.2]

In [18]:
new_list[0] = 'ONE ALL CAPS'

In [19]:
new_list

['ONE ALL CAPS', 2, 3, 'SST,', 100, 23.2]

In [22]:
new_list.append('six')

In [23]:
new_list

['ONE ALL CAPS', 2, 3, 'SST,', 100, 23.2, 'six']

In [24]:
new_list.append('seven')

In [25]:
new_list

['ONE ALL CAPS', 2, 3, 'SST,', 100, 23.2, 'six', 'seven']

In [26]:
new_list.pop()

'seven'

In [27]:
new_list

['ONE ALL CAPS', 2, 3, 'SST,', 100, 23.2, 'six']

In [33]:
popped_item = new_list.pop()

In [34]:
popped_item

23.2

In [36]:
newer_list = new_list.pop(0)

In [37]:
newer_list

'ONE ALL CAPS'

In [38]:
new_list

[2, 3, 'SST,', 100]

In [39]:
new_list = ['a','e','x','b','c']
num_list = [4, 1, 8, 3]

In [40]:
new_list.sort() #important- this occurs IN PLACE just as written

In [41]:
new_list

['a', 'b', 'c', 'e', 'x']

In [43]:
num_list.sort()

num_list

In [44]:
num_list

[1, 3, 4, 8]

In [45]:
num_list.reverse()

In [46]:
num_list

[8, 4, 3, 1]

 # Dictionaries
 ## cannot be sorted- they are unsorted
 ## objects retrieved by key (in contrast with lists where the thing you want is indexed)

In [47]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [48]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [50]:
my_dict['key1']

'value1'

In [55]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [56]:
prices_lookup['apple']

2.99

In [59]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [60]:
d['k3']['insideKey']

100

In [64]:
d['k2'][2]d

2

In [66]:
d = {'key1':['a','b','c']}

In [70]:
d['key1'][2].upper()

'C'

In [71]:
d ={'k1':100, 'k2':200}

In [72]:
#add to the dictionary
d['k3']=300

In [73]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [76]:
d['k1']= 'NEW VALUE'

In [77]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [78]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [79]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [80]:
d.values()

dict_values([100, 200, 300])

In [82]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# Tuples

In [83]:
t = (1,2,3)
my_list = [1,2,3]

In [84]:
len(t)

3

In [85]:
t[0]

1

In [88]:
t = ('a','a','b')

In [91]:
t.count('a')

2

In [92]:
t.index('b')

2

In [93]:
t.index('a')

0

In [95]:
my_list

[1, 2, 3]

In [96]:
my_list[0]="NEW"

In [97]:
my_list

['NEW', 2, 3]

In [99]:
t[0]= "NEW"

TypeError: 'tuple' object does not support item assignment

# SETS

In [100]:
myset = set()

In [101]:
myset

set()

In [102]:
myset.add(1)

In [103]:
myset

{1}

In [105]:
myset.add(2)

In [106]:
myset

{1, 2}

In [107]:
myset.add(2)

In [108]:
myset

{1, 2}

In [117]:
mylist = [1,1,1,3,3,3,2,2,2,4,4,4]

In [119]:
set(mylist)

TypeError: 'list' object is not callable

[1, 1, 1, 3, 3, 3, 2, 2, 2, 4, 4, 4]

In [120]:
a = [1,1,1,1,2,2,2,2,3,3,3,4,5,5,6,7,7,7]

In [121]:
set(a)

TypeError: 'list' object is not callable

In [1]:
my_set = ()

In [2]:
print(my_set)

()

In [3]:
my_set.add("Hello")

AttributeError: 'tuple' object has no attribute 'add'

In [128]:
print(my_set)

()